beautifulsoup4==4.6.0
cachetools==2.1.0
certifi==2018.4.16
chardet==3.0.4
dill==0.2.8.1
Django==1.10
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
enum34==1.1.6
future==0.16.0
futures==3.2.0
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.17.0
google==2.0.1
google-auth==1.5.0
google-gax==0.16.0
googleapis-common-protos==1.5.3
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.12.1
httplib2==0.19.0
idna==2.7
instamojo-wrapper==1.1
jws==0.1.3
lxml==4.2.1
mpmath==1.0.0
numpy==1.14.3
oauth2client==3.0.0
Pillow==5.1.0
ply==3.8
protobuf==3.6.0
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycryptodome==3.4.3
pyephem==3.7.6.0
PyJWT==1.6.4
pyproj==1.9.5.1
Pyrebase==3.0.27
python-http-client==3.1.0
python-jwt==2.0.1
pytz==2018.4
requests==2.11.1
requests-toolbelt==0.7.0
rsa==3.4.2
sendgrid==5.4.0
simplekml==1.3.0
six==1.11.0
sympy==1.1.1
urllib3==1.23
utm==0.4.2
